.page {
  max-width: 1000px;
  min-width: 300px;
  padding-top: 10px;
  font-family: 'Courier New', Courier, monospace;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0 auto 10px;
  font-size: 30px;

}

.battle-field {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  border: 2px solid #000;
}

.battle-field__item {
  font-family: 'Courier New', Courier, monospace;
  border: 2px solid #000;
  text-transform: uppercase;
  font-size: 200px;
  line-height: 1em;
  text-align: center;
  cursor: pointer;
}

.clear-btn {
  cursor: pointer;
  border: 2px solid #000;
  background-color: #ffee44;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  font-size: 30px;
  margin-top: 10px;
}

.clear-btn:disabled {
  display: none;
}

.counter {
  font-weight: 700;
  font-size: 20px;
  margin: 10px 0 0;
}

.popup {
  display: flex;
  visibility: hidden;
  opacity: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  background-color: #ffee44;
  border-radius: 15px;
  position: absolute;
  margin: auto;
  transition: visibility .3s, opacity .3s linear;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__close-btn {
  height: 30px;
  width: 100px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 5px;
}

.popup__text {
  text-transform: uppercase;
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .battle-field {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
  }
  .battle-field__item {
    font-size: 100px;
  }
}
